absl-py
ai-edge-litert
astunparse
backports.strenum
certifi
charset-normalizer
colorama
coloredlogs
contourpy
cycler
filelock
flatbuffers==24.3.25
fonttools
fsspec
gast
google-pasta
grpcio
h5py
humanfriendly
idna
Jinja2
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml_dtypes
mpmath
namex
networkx
numpy
onnx
onnx2tf
onnx_graphsurgeon
onnxruntime
onnxslim
opencv-python
opt_einsum
optree
packaging
pillow
polars
protobuf
psutil
Pygments
pyparsing
python-dateutil
PyYAML
requests
rich
scipy
six
sng4onnx
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
termcolor
tf_keras==2.19.0
tflite-runtime
torch
torchvision
tqdm
typing_extensions
ultralytics
ultralytics-thop
urllib3
Werkzeug
wrapt
